extends layout

block content
    h1= "Registration page"
    a(href='/login')  Back to login.
    p #{message}
    form(role='form', action='/register', method='post')
        div.input
            span.label username
            input(type="text", name="username")
        div.input
            span.label password
            input(type="password", name="password")
        div.actions
            input(type="submit", value="login")