extends layout

block content
  form(action='/resume/update', method='post', enctype="multipart/form-data")
    label='update pdf'
    input(type="file",name="resume",class="form-control")
    button.btn.btn-primary(type='submit') resume
  
  <br>
  a(href="/pdf/upload/"+resume) open resume
  <br>
  a(href="/projects") projects
  <br>
  a(href="/") index

  
  
